/* ================= GLOBAL ================= */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #eef3fb;
  color: #333;
  padding-bottom: 80px;
  padding-top: 70px; /* ruang untuk navbar */
}


/* SCREEN ================= */
#loginScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #004aad;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  transition: opacity 0.3s ease-in-out;
}


#loginScreen input {
padding: 12px;
width: 70%;
max-width: 260px;
font-size: 16px;
border-radius: 8px;
border: none;
text-align: center;
}

#loginScreen button {
margin-top: 20px;
padding: 10px 20px;
background: #ffd700;
color: black;
border: none;
font-weight: bold;
border-radius: 8px;
cursor: pointer;
}

#loginError {
margin-top: 8px;
color: #ffdddd;
}

/* ================= HEADER ================= */
.header {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 55px;
background: #007bff;
color: white;
font-size: 18px;
font-weight: bold;
display: flex;
align-items: center;
justify-content: center;
z-index: 1000;
}

/* ================= CONTENT ================= */
.menu-grid {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 15px;
padding: 20px;
margin-top: 65px;
}

.menu-card {
background: #fff;
border-radius: 14px;
padding: 20px;
text-align: center;
box-shadow: 0 2px 5px rgba(0,0,0,.1);
cursor: pointer;
}

.card-container {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin: 20px 10px;
}

.card {
background: #fff;
width: 45%;
margin: 10px 0;
padding: 15px;
border-radius: 12px;
text-align: center;
box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.card h3 {
margin: 0 0 8px;
font-size: 14px;
color: #555;
}

.card p {
font-size: 22px;
font-weight: bold;
color: #007bff;
}


/* ================= TOAST ================= */
.toast {
position: fixed;
bottom: 90px;
left: 50%;
transform: translateX(-50%);
background: #333;
color: #fff;
padding: 10px 20px;
border-radius: 50px;
display: none;
z-index: 99999;
}

/* ================= POPUP ================= */
#popupList {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: none;
align-items: center;
justify-content: center;
background: rgba(0,0,0,0.5);
z-index: 99999;
}

.popupBox {
background: #fff;
padding: 20px;
border-radius: 12px;
width: 90%;
max-width: 400px;
max-height: 80%;
overflow-y: auto;
}

.popupItem {
display: flex;
justify-content: space-between;
align-items: center;
padding: 6px 0;
border-bottom: 1px solid #eee;
}
#trayekChartContainer{
background:#fff;
margin:20px 10px;
border-radius:12px;
padding:15px;
box-shadow:0 2px 5px rgba(0,0,0,0.1);

height:260px;        /* ⬅️ PENTING */
overflow:hidden;
}
#trayekChart{
  width:100% !important;
  height:100% !important;
}